@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 80px 10px;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.subVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.remoteVideos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audioBtn {
  width: 40vw;
  margin: 1rem 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: left;
}

.section input {
  margin: 10px 2px;
}
